html{
    background-image: url('https://garden.spoonflower.com/c/8010491/p/f/d-i-21/qhL9ajmKJZXb660DEC25t1ZwelnFbr-rsHiPjYD7neHACrXEjQo/8010491-playing-card-suits-on-green-felt-casino-by-fabric_is_my_name.jpg');
    background-attachment: fixed;
    background-position: center; 
    border-bottom: red;
    text-align: center;
}