html {
  background-image: url("https://garden.spoonflower.com/c/8010491/p/f/d-i-21/qhL9ajmKJZXb660DEC25t1ZwelnFbr-rsHiPjYD7neHACrXEjQo/8010491-playing-card-suits-on-green-felt-casino-by-fabric_is_my_name.jpg");
  background-attachment: fixed;
  background-position: center;
  object-fit: cover;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

img {
  border-radius: 7%;
}

#card1 {
  position: relative; /* or absolute */
  /* right: 70%;
        bottom: 25%; */
}

#card2 {
  position: relative; /* or absolute */
  /* left: 70%;
        bottom: 25%; */
}

#title1 {
  position: relative; /* or absolute */
  /* right: 76%;
        bottom: 90%; */
}

#title2 {
  position: relative; /* or absolute */
  /* left: 76%;
        bottom: 90%; */
}

header {
  position: relative;
  font-family: "Bowlby One SC", cursive;
  font-size: xx-large;
}

#draw {
  background-image: url("https://i.giphy.com/media/aqDXCH2M1ycEw/giphy.webp");
  background-size: cover;
  font-family: "Bowlby One SC", cursive;
  font-weight: bold;
  color: honeydew;
  font-size: 55px;
  /* height: 259px;
        width: 500px; */
  position: relative;
  /* top: 30%;
        right: 33%; */
}

.blinking {
  animation: blinkingText 0.8s infinite;
}
@keyframes blinkingText {
  20% {
    color: red;
  }
  40% {
    color: orange;
  }
  60% {
    color: yellow;
  }
  80% {
    color: green;
  }
  100% {
    color: blue;
  }
}

.title {
  font-family: "Bowlby One SC", cursive;
  text-decoration: underline;
  color: white;
}

.score1 {
  position: relative;
  font-family: "Bowlby One SC", cursive;
  /* right: 78%;
        bottom: 20%; */
  font-size: x-large;
  background-color: white;
  color: rgb(94, 212, 233);
}

.score2 {
  position: relative;
  font-family: "Bowlby One SC", cursive;
  /* left: 78%;
        bottom: 20%; */
  font-size: x-large;
  background-color: white;
  color: red;
}

a {
  color: rgb(255, 255, 255);
  background-color: black;
}

#restart {
  background-color: crimson;
  color: rgb(9, 9, 73);
}

footer {
  position: relative;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

@media screen and (min-width: 426px) {
  .left {
    position: absolute;
    right: 50%;
    top: 20%;
    z-index: -1;
  }

  .right {
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: -1;
  }

  #draw{
      z-index: 2;
  }

  #restart{
      z-index: 20;
  }
}
